# Ignore OS-specific files
.DS_Store

# Ignore all data files
data_files/*

# But do not ignore the folder itself or a placeholder file
!data_files/.gitkeep

# But do not ignore the folder itself or a placeholder file
!data_files/sha/.gitkeep